<div class="col-sm-6">
  <h1>{{entry.title}}</h1>
  <h4>{{entry.author}}</h4>
  <p>
    {{entry.text}}
  </p>
</div>
<div class="col-sm-6">
  <img class="entry-image" src={{entry.imgURL}} alt="" >
</div>
